.ditter {
    position: relative;
    border: 1px solid #111;
    padding:16px 8px;
    background: #343a40;
    border-radius: 5px;
    color: white; 
}

.ditterProfilePicture {
    position: absolute;
    width: 3rem;
    height: 3rem;
}

.alignTop {
    vertical-align: top;
}
.m-60 {
    margin-left: 60px;
}